<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<!--全屏容器-->
<div class="lt_container">
    <!--头部-->
    <header class="lt_topBar">
        <a href="javascript:history.back();" class="left">
            <span class="fa fa-chevron-left"></span>
        </a>
        <h3>商品搜索</h3>

    </header>


    <!--内容-->
    <div class="lt_content">
        <div class="lt_wrapper">
           <!--搜索框-->
            <div class="lt_search">
                <input type="search" placeholder="根据商品关键字搜索商品">
                <a href="javascript:;">搜索</a>
            </div>
            <!--搜索历史-->
            <div class="lt_history">

            </div>
        </div>
    </div>

    <!--底部-->
    <footer class="lt_tabs">
        <a href="index.html"><span class="fa fa-home"><p>首页</p></span></a>
        <a href="category.html"><span class="fa fa-bars"><p>分类</p></span></a>
        <a href="user/cart.html"><span class="fa fa-shopping-cart"><p>购物车</p></span></a>
        <a href="user/index.html"><span class="fa fa-user"><p>个人中心</p></span></a>
    </footer>

</div>
<script type="text/template" id="history">
    <div class="head">
        {{if list.length}}
        <span>搜索历史</span>
        <a href="javascript:;"><span class="fa fa-trash"></span>清空记录</a>
        {{else}}
        <span>您没有历史搜索记录。</span>
        {{/if}}
    </div>
    {{if list.length}}
    <ul>
        <% for(var i = list.length-1;i >= 0;i--){ %>
        <li><a href="searchList.html?key=<%=euc(list[i])%>"><%=list[i]%></a><span class="fa fa-close" data-index="{{i}}"></span></li>
        <%}%>
    </ul>
    {{/if}}
</script>

</body>

<script src="assets/art-template/template-web.js"></script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="js/common.js"></script>
<script src="js/search.js"></script>
</html>